/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 392px; /* Mobile width */
  margin: 0 auto;
  padding: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.sales-form {
  display: flex;
  flex-direction: column;
}

.sales-form label {
  margin-bottom: 5px;
}

.sales-form input,
.sales-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sales-form .inline-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.sales-form .inline-group > div {
  width: 48%; /* Adjusted to fit both fields comfortably */
}

.sales-form .subtotal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.sales-form .subtotal-container label,
.sales-form .subtotal-container .subtotal-value {
  font-weight: bold;
  color: #333;
  font-size: 1em;
}

.subtotal-value {
  margin-left: 5px;
}

.sales-form .subtotal-icon-container {
  background-color: white;
  color: red;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sales-form .subtotal-icon {
  font-size: 1.2em;
  color: red;
  cursor: pointer;
}

.sales-form .add-entry-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.sales-form .add-icon {
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  background-color: green;
}

.sales-form .grand-total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.sales-form .grand-total-container label,
.sales-form .grand-total-container .grand-total-value {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.sales-form .grand-total-container .grand-total-value {
  margin-left: 10px;
}

.sales-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sales-form button:hover {
  background-color: #0056b3;
}

.sales-form .entry-group {
  background-color: rgb(236, 229, 229);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.two-icone {
  margin-left: 260px;
}